# Especificação do Projeto Final - Módulo 4 Pós UEA

1. O trabalho será feito por equipe. [ok]
    
    Equipe: Everton, Maisa, Paulo e Thiago
    
    
2. Vocês vão definir questões que sejam interessantes para um negócio e que para ser respondidas precisem da Ciência dos Dados. O negócio pode ser qualquer área de atuação. [ok]
   
   Área de atuação: Educação no Ensino Médio do Brasil
   
   **Como está o desempenho dos alunos brasileiros segundo o ENEM 2019? Média das notas do brasil e média por região**
   
   **Qual região do país os alunos obtiveram as melhores notas?**
   
   **Qual escola estuda o aluno que tirou a maior nota?**
   
   **Quais as melhores escolas de Manaus?**
   
   **Quais as piores escolas de Manaus?**
   
   **Qual a faixa de renda familiar dos alunos que obtiveram as menores notas?**
   
   **Qual a faixa de renda familiar dos alunos que obtiveram as maiores notas?**
   
   **Qual a area de conhecimento (Ciências naturais, Matemática, Linguagens...) que os alunos obtiveram as menores notas?**
   
   
3. Coleta de Dados. Fazer a coleta de dados das fontes de dados disponíveis (pode ser uma fonte ou várias). Avaliando se têm dados para responder as questões identificadas no ponto 2. Deve avaliar a qualidade dos dados a partir das dimensões de qualidade. [ok]

    Fonte 1: INSTITUTO NACIONAL DE ESTUDOS E PESQUISAS EDUCACIONAIS ANÍSIO TEIXEIRA. Microdados do Enem 2019. Brasília: Inep, 2019. Disponível em: <https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem>. Acessado em 21/02/2021.

    Fonte 2: INSTITUTO NACIONAL DE ESTUDOS E PESQUISAS EDUCACIONAIS ANÍSIO TEIXEIRA. Catálogo de Escolas. Brasília: Inep, 2019. Disponível em: <https://inepdata.inep.gov.br/analytics/saw.dll?dashboard>. Acessado em 21/02/2021.
    

4. Aplicar métodos de pré-processamento de dados estudados, explicando para que é cada método (ao aplicar os métodos poderão ter algumas respostas). Obter um dataset de qualidade pronto para aplicar método de ML. 



5. Explorar seus dados, para responder algumas das questões definidas no ponto 2. Outras questões poderão ser só respondidas depois de usar métodos de ML.


6. Todos os documentos do projeto deveram ser postados no GitHub, e deverá ser feita uma apresentação na última aula da disciplina.
7. Seu projeto vai ser avaliado por outros Equipes e a nota final do projeto vai levar em conta as avaliações feita pelas outras equipes e a avaliação feita pelo professor.

In [1]:
import pandas as pd

In [2]:
microdados_enem2019 = pd.read_csv('../microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv',sep=';',encoding='ISO-8859-1')

In [26]:
microdados_enem2019.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,A,A,A,C,B,A,D,A,B,A
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,A,A,A,B,B,A,B,A,A,A
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,B,A,A,D,B,B,D,A,C,B
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,A,A,A,C,A,A,D,A,A,A
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,A,A,A,B,A,A,D,A,A,A

In [27]:
microdados_enem2019

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,A,A,A,C,B,A,D,A,B,A
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,A,A,A,B,B,A,B,A,A,A
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,B,A,A,D,B,B,D,A,C,B
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,A,A,A,C,A,A,D,A,A,A
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,A,A,A,B,A,A,D,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,190006129589,2019,2928604,Santo Amaro,29,BA,28,F,2,2,...,A,A,A,B,A,A,B,A,A,B
5095266,190006129590,2019,2927408,Salvador,29,BA,25,M,1,2,...,A,A,A,A,A,A,B,A,A,A
5095267,190006129591,2019,2931806,Tremedal,29,BA,18,F,1,3,...,A,A,A,B,A,A,B,A,A,B
5095268,190006129592,2019,2927408,Salvador,29,BA,16,M,1,1,...,B,A,A,B,B,A,C,A,B,B
5095269,190006129593,2019,2914802,Itabuna,29,BA,25,F,1,2,...,B,A,B,B,B,A,B,A,B,B

In [5]:
cols = microdados_enem2019.columns.tolist()

In [6]:
#cols

In [9]:
escolas = pd.read_csv('../escolas.csv',sep=';',encoding='utf-8')

In [10]:
escolas.head()

,Restrição de Atendimento,Escola,Código INEP,UF,Município,Localização,Localidade Diferenciada,Categoria Administrativa,Endereço,Telefone,Dependência Administrativa,Categoria Escola Privada,Conveniada Poder Público,Regulamentação pelo Conselho de Educação,Porte da Escola,Etapas e Modalidade de Ensino Oferecidas,Outras Ofertas Educacionais,Latitude,Longitude
0,ESCOLA ATENDE EXCLUSIVAMENTE ALUNOS COM DEFICI...,EEEE ABNAEL MACHADO DE LIMA - CENE,11000023,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Pública,"AVENIDA AMAZONAS, 6492 ZONA LESTE. TIRADENTES....",(69) 992083054,Estadual,Não Informado,Não,Não,Entre 51 e 200 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,-8.758459,-63.854011
1,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,EMEIEF PEQUENOS TALENTOS,11000040,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Pública,"RUA CAETANO, 3256 PREDIO. CALADINHO. 76808-108...",(69) 32135237,Municipal,Não Informado,Não,Sim,Entre 201 e 500 matrículas de escolarização,Educação Infantil,NaN,-8.793730,-63.883919
2,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CENTRO DE ENSINO CLASSE A,11000058,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Privada,"AVENIDA CARLOS GOMES, 1135 CENTRO. 76801-123 P...",(69) 32244473,Privada,Particular,Não,Sim,Mais de 1000 matrículas de escolarização,"Educação Infantil, Ensino Fundamental, Ensino ...",NaN,-8.760734,-63.901986
3,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CENTRO EDUCACIONAL PRESBITERIANO 15 DE NOVEMBRO,11000082,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Privada,"RUA ALMIRANTE BARROSO, 1483 SANTA BARBARA. 768...",(69) 32245636,Privada,Particular,Não,Sim,Entre 51 e 200 matrículas de escolarização,"Educação Infantil, Ensino Fundamental",NaN,-8.765205,-63.896177
4,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CENTRO EDUC CORA CORALINA,11000104,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Privada,"RUA MEXICO, 1056 NOVA PORTO VELHO. 76820-190 P...",(69) 32252616,Privada,Particular,Não,Sim,Entre 501 e 1000 matrículas de escolarização,"Educação Infantil, Ensino Fundamental",NaN,-8.768632,-63.875471

In [14]:
cod_nome_escola = escolas[['Código INEP','Escola']]

In [15]:
cod_nome_escola[cod_nome_escola['Escola'] == 'FUNDACAO MATIAS MACHLINE']

      Código INEP                    Escola
4601     13031767  FUNDACAO MATIAS MACHLINE

In [16]:
import pandas as pd
import numpy as np
import statistics as st
import seaborn as se
import statsmodels.stats.proportion as smp
from scipy import stats
import matplotlib.pyplot as plt

In [18]:
def meanAndStandar(x):
    print("média=",round(st.mean(x),3))
    print("desvio-padrão=",round(st.stdev(x),3))

In [19]:
def intervConfianca(x):
    print("Intervalo de Confiança ao nível de 95% para média quando a variância é desconhecida")
    inf,sup = t.interval(0.95, len(x)-1, loc=st.mean(x), scale=st.stdev(x)/np.sqrt(len(x)))
    print ('Limite inferior 95%:', round(inf,3))
    print ('Limite superior 95%:', round(sup,3))

In [20]:
def countPlot(xcolumns,df):
    se.countplot(x=xcolumns,data=df)

In [21]:
def checkNormalDistribution(var):
    fig, ax = plt.subplots()
    stats.probplot(var, fit=True,   plot=ax)
    plt.show()

In [22]:
def boxPlotText(df,txt):
    #bdenade['conceito'] and text
    se.boxplot(df).set_title(txt)

In [24]:
def shapeFindNum(df,amostra,target):
    result = df.loc[amostra == target]
    result.shape

In [25]:
def grafNormalized(df,txt):
    se.distplot(df).set_title(txt)

In [1]:
from scipy import stats
import pandas as pd

In [2]:
import plotly.graph_objects as go
import plotly.offline as py

ModuleNotFoundError: No module named 'plotly'

In [3]:
track = 0
def funcScatter(df1_col,df2_col):
    track = go.Scatter(x = df1['sqft_lot15'],
                        y = df1['sqft_above'],
                        mode = 'markers')

In [4]:
def plotDisper(track):
    data = [track]
    py.iplot(data)

In [5]:
def calCov(df):
    df.cov()

In [ ]:
#'pearson','kendall',
def calCorr(df,_method):
    df.corr(method=_method)