# Especificação do Projeto Final - Módulo 4 Pós UEA

1. O trabalho será feito por equipe. [ok]
    
    Equipe: Everton, Maisa, Paulo e Thiago
    
    
2. Vocês vão definir questões que sejam interessantes para um negócio e que para ser respondidas precisem da Ciência dos Dados. O negócio pode ser qualquer área de atuação. [ok]
   
   Área de atuação: Educação no Ensino Médio do Brasil
   
   **Como está o desempenho dos alunos brasileiros segundo o ENEM 2019? Média das notas do brasil e média por região**
   
   **Qual região do país os alunos obtiveram as melhores notas?**
   
   **Qual escola estuda o aluno que tirou a maior nota?**
   
   **Quais as melhores escolas de Manaus?**
   
   **Quais as piores escolas de Manaus?**
   
   **Qual a faixa de renda familiar dos alunos que obtiveram as menores notas?**
   
   **Qual a faixa de renda familiar dos alunos que obtiveram as maiores notas?**
   
   **Qual a area de conhecimento (Ciências naturais, Matemática, Linguagens...) que os alunos obtiveram as menores notas?**
   
   
3. Coleta de Dados. Fazer a coleta de dados das fontes de dados disponíveis (pode ser uma fonte ou várias). Avaliando se têm dados para responder as questões identificadas no ponto 2. Deve avaliar a qualidade dos dados a partir das dimensões de qualidade. [ok]

    Fonte 1: INSTITUTO NACIONAL DE ESTUDOS E PESQUISAS EDUCACIONAIS ANÍSIO TEIXEIRA. Microdados do Enem 2019. Brasília: Inep, 2019. Disponível em: <https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem>. Acessado em 21/02/2021.

    Fonte 2: INSTITUTO NACIONAL DE ESTUDOS E PESQUISAS EDUCACIONAIS ANÍSIO TEIXEIRA. Catálogo de Escolas. Brasília: Inep, 2019. Disponível em: <https://inepdata.inep.gov.br/analytics/saw.dll?dashboard>. Acessado em 21/02/2021.
    

4. Aplicar métodos de pré-processamento de dados estudados, explicando para que é cada método (ao aplicar os métodos poderão ter algumas respostas). Obter um dataset de qualidade pronto para aplicar método de ML. 



5. Explorar seus dados, para responder algumas das questões definidas no ponto 2. Outras questões poderão ser só respondidas depois de usar métodos de ML.


6. Todos os documentos do projeto deveram ser postados no GitHub, e deverá ser feita uma apresentação na última aula da disciplina.
7. Seu projeto vai ser avaliado por outros Equipes e a nota final do projeto vai levar em conta as avaliações feita pelas outras equipes e a avaliação feita pelo professor.

In [1]:
import pandas as pd

In [2]:
microdados_enem2019 = pd.read_csv('../DADOS/MICRODADOS_ENEM_2019.csv',sep=';',encoding='ISO-8859-1')

In [3]:
microdados_enem2019.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,A,A,A,C,B,A,D,A,B,A
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,A,A,A,B,B,A,B,A,A,A
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,B,A,A,D,B,B,D,A,C,B
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,A,A,A,C,A,A,D,A,A,A
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,A,A,A,B,A,A,D,A,A,A

In [4]:
microdados_enem2019

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,A,A,A,C,B,A,D,A,B,A
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,A,A,A,B,B,A,B,A,A,A
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,B,A,A,D,B,B,D,A,C,B
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,A,A,A,C,A,A,D,A,A,A
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,A,A,A,B,A,A,D,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,190006129589,2019,2928604,Santo Amaro,29,BA,28,F,2,2,...,A,A,A,B,A,A,B,A,A,B
5095266,190006129590,2019,2927408,Salvador,29,BA,25,M,1,2,...,A,A,A,A,A,A,B,A,A,A
5095267,190006129591,2019,2931806,Tremedal,29,BA,18,F,1,3,...,A,A,A,B,A,A,B,A,A,B
5095268,190006129592,2019,2927408,Salvador,29,BA,16,M,1,1,...,B,A,A,B,B,A,C,A,B,B
5095269,190006129593,2019,2914802,Itabuna,29,BA,25,F,1,2,...,B,A,B,B,B,A,B,A,B,B

In [55]:
cols = microdados_enem2019.columns.tolist()

In [64]:
cols
save_cols = []
for x in cols:
    save_cols.append(x)
    
print(save_cols)

['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO', 'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_TEMPO_ADICIONAL', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA', 'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025']

In [83]:
escolas = pd.read_csv('../escolas.csv',sep=';',encoding='utf-8')

In [84]:
escolas

,Restrição de Atendimento,Escola,Código INEP,UF,Município,Localização,Localidade Diferenciada,Categoria Administrativa,Endereço,Telefone,Dependência Administrativa,Categoria Escola Privada,Conveniada Poder Público,Regulamentação pelo Conselho de Educação,Porte da Escola,Etapas e Modalidade de Ensino Oferecidas,Outras Ofertas Educacionais,Latitude,Longitude
0,ESCOLA ATENDE EXCLUSIVAMENTE ALUNOS COM DEFICI...,EEEE ABNAEL MACHADO DE LIMA - CENE,11000023,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Pública,"AVENIDA AMAZONAS, 6492 ZONA LESTE. TIRADENTES....",(69) 992083054,Estadual,Não Informado,Não,Não,Entre 51 e 200 matrículas de escolarização,Ensino Fundamental,Atendimento Educacional Especializado,-8.758459,-63.854011
1,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,EMEIEF PEQUENOS TALENTOS,11000040,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Pública,"RUA CAETANO, 3256 PREDIO. CALADINHO. 76808-108...",(69) 32135237,Municipal,Não Informado,Não,Sim,Entre 201 e 500 matrículas de escolarização,Educação Infantil,NaN,-8.793730,-63.883919
2,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CENTRO DE ENSINO CLASSE A,11000058,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Privada,"AVENIDA CARLOS GOMES, 1135 CENTRO. 76801-123 P...",(69) 32244473,Privada,Particular,Não,Sim,Mais de 1000 matrículas de escolarização,"Educação Infantil, Ensino Fundamental, Ensino ...",NaN,-8.760734,-63.901986
3,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CENTRO EDUCACIONAL PRESBITERIANO 15 DE NOVEMBRO,11000082,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Privada,"RUA ALMIRANTE BARROSO, 1483 SANTA BARBARA. 768...",(69) 32245636,Privada,Particular,Não,Sim,Entre 51 e 200 matrículas de escolarização,"Educação Infantil, Ensino Fundamental",NaN,-8.765205,-63.896177
4,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CENTRO EDUC CORA CORALINA,11000104,RO,Porto Velho,Urbana,A escola não está em área de localização difer...,Privada,"RUA MEXICO, 1056 NOVA PORTO VELHO. 76820-190 P...",(69) 32252616,Privada,Particular,Não,Sim,Entre 501 e 1000 matrículas de escolarização,"Educação Infantil, Ensino Fundamental",NaN,-8.768632,-63.875471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222931,ESCOLA PARALISADA,ESC DIVINO MESTRE,53084071,DF,Brasília,Urbana,Não Informado,Privada,"QUADRA QNP 21 CONJUNTO H, CEILANDIA NORTE CEIL...",(61) 35856361,Privada,Não Informado,Não,NaN,NaN,NaN,NaN,NaN,NaN
222932,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,COBIAN - COL BIANGULO,53085000,DF,Brasília,Urbana,A escola não está em área de localização difer...,Privada,"QNJ 22 - LOTES 34 E 36, TAGUATINGA NORTE. 7214...",(61) 34756945,Privada,Particular,Não,Sim,Entre 201 e 500 matrículas de escolarização,"Educação Infantil, Ensino Fundamental",NaN,-15.815942,-48.085109
222933,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,CED VITORIA REGIA,53086007,DF,Brasília,Urbana,A escola não está em área de localização difer...,Privada,"RUA 07 CH 333 LOTE 333/E, SETOR HABITACIONAL V...",(61) 35976668,Privada,Particular,Não,Sim,Entre 51 e 200 matrículas de escolarização,"Ensino Fundamental, Ensino Médio",NaN,NaN,NaN
222934,ESCOLA PARALISADA,CED SANTOS DUMONT - CESAN,53087003,DF,Brasília,Urbana,Não Informado,Privada,"QUADRA 203 CONJUNTO 6, 06/15 LOTES 06 E 15. SE...",(61) 33391545,Privada,Não Informado,Não,NaN,NaN,NaN,NaN,NaN,NaN
222935,ESCOLA PARALISADA,OBRA SOCIAL NOSSA SENHORA DE FATIMA,53088034,DF,Brasília,Urbana,Não Informado,Privada,"QUADRA SETOR D SUL, TAGUATINGA SUL TAGUATINGA....",(61) 33972571,Privada,Não Informado,Não,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
cod_nome_escola = escolas[['Código INEP','Escola']]

In [86]:
cod_nome_escola[cod_nome_escola['Escola'] == 'FUNDACAO MATIAS MACHLINE']

      Código INEP                    Escola
4601     13031767  FUNDACAO MATIAS MACHLINE

In [87]:
import pandas as pd
import numpy as np
import statistics as st
import seaborn as se
import statsmodels.stats.proportion as smp
from scipy import stats
import matplotlib.pyplot as plt

In [129]:
def meanAndStandar(x):
    print("média=",round(st.mean(x),3))
    print("desvio-padrão=",round(st.stdev(x),3))
    return (st.mean(x),3), (st.stdev(x),3)

In [89]:
def intervConfianca(x):
    print("Intervalo de Confiança ao nível de 95% para média quando a variância é desconhecida")
    inf,sup = t.interval(0.95, len(x)-1, loc=st.mean(x), scale=st.stdev(x)/np.sqrt(len(x)))
    print ('Limite inferior 95%:', round(inf,3))
    print ('Limite superior 95%:', round(sup,3))

In [90]:
def countPlot(xcolumns,df):
    se.countplot(x=xcolumns,data=df)

In [91]:
def checkNormalDistribution(var):
    fig, ax = plt.subplots()
    stats.probplot(var, fit=True,   plot=ax)
    plt.show()

In [92]:
def boxPlotText(df,txt):
    #bdenade['conceito'] and text
    se.boxplot(df).set_title(txt)

In [93]:
def shapeFindNum(df,amostra,target):
    result = df.loc[amostra == target]
    result.shape

In [94]:
def grafNormalized(df,txt):
    se.distplot(df).set_title(txt)

In [95]:
from scipy import stats
import pandas as pd

In [96]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\pcorrea\anaconda3\lib\site-packages (4.14.3)
Requirement already satisfied: retrying>=1.3.3 in c:\users\pcorrea\anaconda3\lib\site-packages (from plotly) (1.3.3)
Requirement already satisfied: six in c:\users\pcorrea\anaconda3\lib\site-packages (from plotly) (1.15.0)

In [97]:
import plotly.graph_objects as go
import plotly.offline as py

In [98]:
def funcScatter(df1_col,df2_col):
    track = go.Scatter(x = df1_col,y = df2_col,mode = 'markers')
    return track

In [99]:
def plotDisper(track):
    data = [track]
    py.iplot(data)

In [100]:
def calCov(df):
    df.cov()

In [101]:
#'pearson','kendall',
def calCorr(df,_method):
    df.corr(method=_method)

In [102]:
meanAndStandar(microdados_enem2019['NU_IDADE'])

média= 22.087
desvio-padrão= 7.455

In [103]:
df_manaus = microdados_enem2019[microdados_enem2019['NO_MUNICIPIO_ESC']=='Manaus']
df_manaus

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
396,190001005023,2019,1503903,Juruti,15,PA,17,M,1,3,...,A,A,A,A,A,A,B,A,A,A
8425,190001013052,2019,1302603,Manaus,13,AM,18,F,1,3,...,A,A,A,B,A,B,D,A,A,B
23344,190001027972,2019,1302603,Manaus,13,AM,18,M,1,3,...,A,A,B,B,A,A,B,B,B,B
23348,190001027976,2019,1302603,Manaus,13,AM,17,M,1,3,...,A,A,A,B,A,A,C,A,A,A
23349,190001027977,2019,1302603,Manaus,13,AM,25,F,1,3,...,A,A,A,B,B,A,C,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5094616,190006119542,2019,1302603,Manaus,13,AM,19,M,1,3,...,B,A,A,B,A,A,B,A,A,A
5094621,190006119547,2019,1302603,Manaus,13,AM,19,F,1,3,...,B,A,A,B,A,B,C,A,A,B
5094637,190006119563,2019,1302603,Manaus,13,AM,17,M,3,3,...,B,A,A,C,A,B,C,A,B,B
5094638,190006119564,2019,1302603,Manaus,13,AM,18,F,1,3,...,B,A,A,B,A,B,C,A,B,B
5094640,190006119566,2019,1302603,Manaus,13,AM,17,M,1,3,...,B,A,A,B,A,B,B,A,A,A

In [104]:
meanAndStandar(df_manaus['NU_IDADE'])

média= 18.466
desvio-padrão= 3.267

In [70]:
df_manaus_small = df_manaus.copy()
df_manaus_small.drop(['IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ', 'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA', 'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL', 'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_TEMPO_ADICIONAL', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO', 'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE', 'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA', 'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL', 'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO', 'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL'], axis=1)

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
396,190001005023,2019,1503903,Juruti,15,PA,17,M,1,3,...,A,A,A,A,A,A,B,A,A,A
8425,190001013052,2019,1302603,Manaus,13,AM,18,F,1,3,...,A,A,A,B,A,B,D,A,A,B
23344,190001027972,2019,1302603,Manaus,13,AM,18,M,1,3,...,A,A,B,B,A,A,B,B,B,B
23348,190001027976,2019,1302603,Manaus,13,AM,17,M,1,3,...,A,A,A,B,A,A,C,A,A,A
23349,190001027977,2019,1302603,Manaus,13,AM,25,F,1,3,...,A,A,A,B,B,A,C,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5094616,190006119542,2019,1302603,Manaus,13,AM,19,M,1,3,...,B,A,A,B,A,A,B,A,A,A
5094621,190006119547,2019,1302603,Manaus,13,AM,19,F,1,3,...,B,A,A,B,A,B,C,A,A,B
5094637,190006119563,2019,1302603,Manaus,13,AM,17,M,3,3,...,B,A,A,C,A,B,C,A,B,B
5094638,190006119564,2019,1302603,Manaus,13,AM,18,F,1,3,...,B,A,A,B,A,B,C,A,B,B
5094640,190006119566,2019,1302603,Manaus,13,AM,17,M,1,3,...,B,A,A,B,A,B,B,A,A,A

In [105]:
# new_df = pd.DataFrame(df_manaus_small)
# new_df.to_csv('new_dataset_manaus.csv')

In [152]:
new_manaus = pd.read_csv('new_dataset_manaus.csv',encoding='ISO-8859-1')
new_manaus = new_manaus.reset_index()

In [153]:
new_manaus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16141 entries, 0 to 16140
Columns: 138 entries, index to Q025
dtypes: float64(24), int64(73), object(41)
memory usage: 17.0+ MB

In [143]:
df_manaus_renda_baixa = new_manaus[new_manaus['Q006'] == 'C']
df_manaus_renda_baixa

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
4,23349,190001027977,2019,1302603,Manaus,13,AM,25,F,1,...,A,A,A,B,B,A,C,A,A,A
10,23377,190001028005,2019,1302603,Manaus,13,AM,19,F,1,...,A,A,A,B,A,A,C,A,A,B
14,23390,190001028018,2019,1302603,Manaus,13,AM,19,F,1,...,A,A,A,B,A,A,B,A,B,B
18,23395,190001028023,2019,1302603,Manaus,13,AM,19,M,1,...,A,A,A,B,A,A,D,A,B,B
23,23411,190001028039,2019,1302603,Manaus,13,AM,17,M,1,...,A,A,B,C,B,B,E,A,B,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16133,5094602,190006119528,2019,1302603,Manaus,13,AM,19,F,1,...,A,A,A,A,A,A,C,A,A,A
16134,5094604,190006119530,2019,1302603,Manaus,13,AM,17,M,1,...,A,A,A,B,B,A,D,A,A,A
16137,5094621,190006119547,2019,1302603,Manaus,13,AM,19,F,1,...,B,A,A,B,A,B,C,A,A,B
16138,5094637,190006119563,2019,1302603,Manaus,13,AM,17,M,3,...,B,A,A,C,A,B,C,A,B,B
16140,5094640,190006119566,2019,1302603,Manaus,13,AM,17,M,1,...,B,A,A,B,A,B,B,A,A,A

In [147]:
meanAndStandar(df_manaus_renda_baixa['NU_IDADE'])
df_manaus_renda_baixa.info()

média= 18.509
desvio-padrão= 3.336
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4833 entries, 4 to 16140
Columns: 137 entries, Unnamed: 0 to Q025
dtypes: float64(24), int64(72), object(41)
memory usage: 5.1+ MB

In [109]:
df_manaus_inep = escolas[escolas['Código INEP'] == 13030833] #CO_ESCOLA tabela do INEP
df_manaus_inep

,Restrição de Atendimento,Escola,Código INEP,UF,Município,Localização,Localidade Diferenciada,Categoria Administrativa,Endereço,Telefone,Dependência Administrativa,Categoria Escola Privada,Conveniada Poder Público,Regulamentação pelo Conselho de Educação,Porte da Escola,Etapas e Modalidade de Ensino Oferecidas,Outras Ofertas Educacionais,Latitude,Longitude
4541,ESCOLA EM FUNCIONAMENTO E SEM RESTRIÇÃO DE ATE...,ESCOLA ESTADUAL RAIMUNDO GOMES NOGUEIRA,13030833,AM,Manaus,Urbana,A escola não está em área de localização difer...,Pública,"RUA B28, S/N CONJUNTO AJURICABA. ALVORADA. 690...",(92) 32167111,Estadual,Não Informado,Não,Sim,Mais de 1000 matrículas de escolarização,"Ensino Fundamental, Ensino Médio, Educação de ...",Atendimento Educacional Especializado,-3.062463,-60.039413

In [112]:
df_provas_manaus = new_manaus[new_manaus['CO_MUNICIPIO_ESC']==1302603.0]
df_provas_manaus

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,396,190001005023,2019,1503903,Juruti,15,PA,17,M,1,...,A,A,A,A,A,A,B,A,A,A
1,8425,190001013052,2019,1302603,Manaus,13,AM,18,F,1,...,A,A,A,B,A,B,D,A,A,B
2,23344,190001027972,2019,1302603,Manaus,13,AM,18,M,1,...,A,A,B,B,A,A,B,B,B,B
3,23348,190001027976,2019,1302603,Manaus,13,AM,17,M,1,...,A,A,A,B,A,A,C,A,A,A
4,23349,190001027977,2019,1302603,Manaus,13,AM,25,F,1,...,A,A,A,B,B,A,C,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16136,5094616,190006119542,2019,1302603,Manaus,13,AM,19,M,1,...,B,A,A,B,A,A,B,A,A,A
16137,5094621,190006119547,2019,1302603,Manaus,13,AM,19,F,1,...,B,A,A,B,A,B,C,A,A,B
16138,5094637,190006119563,2019,1302603,Manaus,13,AM,17,M,3,...,B,A,A,C,A,B,C,A,B,B
16139,5094638,190006119564,2019,1302603,Manaus,13,AM,18,F,1,...,B,A,A,B,A,B,C,A,B,B
16140,5094640,190006119566,2019,1302603,Manaus,13,AM,17,M,1,...,B,A,A,B,A,B,B,A,A,A

In [121]:
# !apt-get install libgeos-3.5.0
# !apt-get install libgeos-dev
!pip install https://github.com/matplotlib/basemap/archive/master.zip

Collecting https://github.com/matplotlib/basemap/archive/master.zip

    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\pcorrea\Anaconda3\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\pcorrea\\AppData\\Local\\Temp\\pip-req-build-33i2pops\\setup.py'"'"'; __file__='"'"'C:\\Users\\pcorrea\\AppData\\Local\\Temp\\pip-req-build-33i2pops\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base 'C:\Users\pcorrea\AppData\Local\Temp\pip-pip-egg-info-_7f0x6vm'
         cwd: C:\Users\pcorrea\AppData\Local\Temp\pip-req-build-33i2pops\
    Complete output (18 lines):
    checking for GEOS lib in C:\Users\pcorrea ....
    checking for GEOS lib in C:\Users\pcorrea\local ....
    checking for GEOS lib in /usr ....
    checking for GEOS lib in /usr/local ....
    checking for GEOS lib in /sw ....
    checking for GEOS lib in /opt ....
    checking for GEOS lib in /opt/local ....

    Can't find geos library in standard locations ('C:\Users\pcorrea', 'C:\Users\pcorrea\local', '/usr', '/usr/local', '/sw', '/opt', '/opt/local').
    Please install the corresponding packages using your
    systems software management system (e.g. for Debian Linux do:
    'apt-get install libgeos-3.3.3 libgeos-c1 libgeos-dev' and/or
    set the environment variable GEOS_DIR to point to the location
    where geos is installed (for example, if geos_c.h
    is in /usr/local/include, and libgeos_c is in /usr/local/lib,
    set GEOS_DIR to /usr/local), or edit the setup.py script
    manually and set the variable GEOS_dir (right after the line
    that says "set GEOS_dir manually here".
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

  Using cached https://github.com/matplotlib/basemap/archive/master.zip

In [118]:
from mpl_toolkits.basemap import Basemap

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'

In [ ]:
lat1 = df_manaus_inep['Latitude']
lon1 = df_manaus_inep['Longitude']

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 10))

m = Basemap(projection='cyl', resolution='h',llcrnrlat = lat1,llcrnrlon = lon1)
m.drawcoastlines()
m.fillcontinents(color = 'palegoldenrod', lake_color='lightskyblue')
m.drawmapboundary(fill_color='lightskyblue')
m.scatter(df_manaus_inep['Longitude'], df_manaus_inep['Latitude'], s = 5, c = 'green', alpha = 0.1, zorder = 2)
# m.scatter(dataset_caros['long'], dataset_caros['lat'], s = 10, c = 'red', alpha = 0.1, zorder = 3)
# m.scatter(dataset_baratos['long'], dataset_baratos['lat'], s = 10, c = 'blue', alpha = 0.1, zorder = 4)